<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="recursos/css/estilos_base.css">
    <link rel="stylesheet" href="recursos/css/responsividade.css">
    <link rel="stylesheet" href="recursos/css/estilos_paginas.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
 
   
<title>ADV PRO!</title>
</head>
<body>
<!-- Menu responsividade-->
<div class="container-fluid">
    <div class="row">
        <div id="coluna" class="col-12">  
            <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark2 p-4">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Meus CLientes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Pauta de Audiência</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#">Pauta de Perícias</a>
                    </li>
                    <br>
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Usuários</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Alterar Senha</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
      <nav class="navbar navbar-dark bg-dark2 mynav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
          </span>
        </button>
      </nav>
    </div>
  </div>
</div>
</div>

<div id="container_base" class="container-fluid h-100">
  <div class="row h-100">  
    <div id="coluna-esquerda" class="col-md-3 d-none d-md-block">
        
<!--Menu de usuários --> 
<div class="nav_user">
  <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
            <div class="icones-menu">
              <a  class="nav-user-link" href="#"><img id="power-icon" src="recursos/icones/power.svg" alt="Bootstrap" width="22" height="22"></a><br>
              <a  class="nav-user-link" href="#"><img id="key-icon" src="recursos/icones/key.svg" alt="Bootstrap" width="22" height="22"></a><br>
              <a  class="nav-user-link" href="#"><img id="user-icon" src="recursos/icones/person.svg" alt="Bootstrap" width="22" height="22"></a><br>
      </div>
  </div>
</div>     
</a> 
<nav class="navbar navbar-dark bg-dark">
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
      </button>
  </nav>
</div>

<!--Logo Marca-->   
<div id="logo-legenda" class="container-fluid"> 
  <img class=" img-fluid rounded mx-auto d-block" id="logo-icon" src="recursos/logo2.svg" alt="Bootstrap" width="200" height="200">
</div>           
<div id="separacao" class="container-fluid">
  <div id="restrito"><p>ÁREA RESTRITA</p></div>
</div>

<!--Menu Principal-->
<div id="menu-lateral" class="d-flex flex-column">
  <ul class="nav d-flex flex-column">                    
      <li  class="nav-item1 ">
          <a  class="nav-link active" href="#">  <img id="clientes-icon" src="recursos/icones/clientes.svg" alt="Bootstrap" width="32" height="32"> &nbsp; Meus clientes  </a>
      </li> 
      <li class="nav-item2">
        <a class="nav-link" href="#"> <img id="audiencia-icon" src="recursos/icones/calendario.svg" alt="Bootstrap" width="32" height="32"> &nbsp;Pauta de audiencias</a>
      </li>
      <li class="nav-item3 ">
          <a class="nav-link" href="#"> <img id="noticias-icon" src="recursos/icones/pericia.svg" alt="Bootstrap" width="32" height="32"> &nbsp;Perícias</a>
      </li>
      <li  id="teste"  class="nav-item4">
        <a class="nav-link" href="#"> <img id="noticias-icon" src="recursos/icones/noticias.svg" alt="Bootstrap" width="32" height="32"> &nbsp;Noticias</a>   
      </li>
    </ul>
  </div>
</div>

<!--COLUNA DIREITA-->
<div id="coluna-direita_audiencia" class="col-md-9 d-flex col-sm-12">
<div class="container alinhar">

<!--Área do topo da página de clientes-->
  <div class=" row mt-5 ">
    <div class="col-3 mt-3">
      <img class="t_itens" id="image_client_top" src="recursos/icones/audiencias.png" alt="Bootstrap" width="62" height="52">
    </div>
    <div class="col-4">
      <h1  class="titulo_audiencias">Audiência</h1>
    </div>
    <div class="col-3">
      <h1 id="audiencia_adicionar" class="titulo_audiencias"><span class="espaco_titulo">|</span><b>Adicionar</b></h1>
    </div>
    <div class="col-2 mt-2">
      <a href=""><img class="t_itens"  id="btn_save_audiencia" src="recursos/icones/salvar.svg" alt="Bootstrap" width="42" height="42"></a>
    </div>
  </div>

<!--Formulario-->
<div class=" row alinhar_form">   
<div class="row ">
  <div class="col-12">
    <div class="items"> <input type="text"  class="form-control formulario cliente" name="" placeholder="Processo" aria-required="true" aria-invalid="true"></div>
  </div>
</div>
<div class="row"> 
  <div class="col-xl-3 col-md-3 col-sm-4 col-12">
    <div class="items"> <input type="Date"  class="form-control formulario cliente" name="" placeholder="Data" aria-required="true" aria-invalid="true"></div>
  </div>
  <div class="col-xl-3 col-md-3 col-sm-4 col-12">
    <div class="items"> <input type="time"  class="form-control formulario cliente" name="" placeholder="Hora" aria-required="true" aria-invalid="true"></div>
  </div>
  <div class="col-xl-3 col-md-3 col-sm-4 col-12">
    <div class="items"> <input type="text"  class="form-control formulario cliente" name="" placeholder="Vara" aria-required="true" aria-invalid="true"></div>
  </div>
  <div class="col-4">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div > <input type="text"  class="form-control formulario cliente" name="" placeholder="Local" aria-required="true" aria-invalid="true"></div>
  </div>
</div>

<!-- Formulário Checkbox precatoria -->
  <div class="checkshow row posicao_linha_check"> 
    <label class="col-1 posicao_coluna_check1 mt-2" for="">Precatoria</label> 
    <input class="col-1 posicao_coluna_check2 mt-2" type="checkbox"  name="ck2" value="1" />
    <input type="text"  class="form-control formulario cliente aling_camp_check1 mt-5" name="" placeholder="Campo 1" aria-required="true" aria-invalid="true"> 
    <input type="text"  class="form-control formulario cliente aling_camp_check2" name="" placeholder="Campo 2" aria-required="true" aria-invalid="true"></div>   
  
  <!-- Formulário Observações-->
    <div class=" container row">
      <div class="col-12 col-sm-8 col-xl-8">
    <textarea id="area-texto" rows="5" cols="10" maxlength="500 " class="config_text_area" placeholder="obs"></textarea>  
  </div>
</div>
</div>
</div>
</div>
</div>
</div>

    <!-- JavaScript (Opcional) -->
    <script>
if($("#estaSelecionado").is(':checked')){
    $("#confirmacao").show();
} else {
    $("#confirmacao").hide();
}
          </script>
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  </body>
</html>
