/* Title meus clientes*/
.titulo_clientes {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: #4C4C4C;
}

.espaco_titulo{
    margin-left: 10px;
}

.titulo_adicionar {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 43px;
    color: #4C4C4C;
    font-weight: bold;
}


/* Botão adicionar clientes*/
#image_botao_add{
    margin-top: 20px;
}

/*formularios*/

.cliente {
    font-size: 33px;
    color: #E29930;
    border-bottom: 1px solid #DADADA !important;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    height: 45px;
    padding-bottom: 5px;
}

.form-control {
    padding: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #4C4C4C;
    background-color: transparent;
    border-bottom: 1px solid #DADADA !important;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-family: 'Open Sans', sans-serif;
}

.form-control2 {
    padding: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #4C4C4C;
    background-color: transparent;
    border-bottom: 1px solid #DADADA !important;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-family: 'Open Sans', sans-serif;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    background-color: #efefef; 
}

.lb-contatos{
    color: #888888;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 20px;
}

#cliente-cpf{
    margin-top: 20px;
}

.t{
    width: 100%;
}
