<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/recursos/css/estilos_base.css">
    <link rel="stylesheet" href="/static/recursos/css/estilos_meus-clientes_adicionar.css">
    <link rel="stylesheet" href="/static/recursos/css/responsividade.css">
    <link rel="stylesheet" href="/static/recursos/css/meus-testes.css">
    <link rel="stylesheet" href="/static/recursos/css/estilos_processos.css">
    
<title>ADV PRO!</title>
</head>
<body>

<!-- Menu responsividade-->
<div class="container-fluid">
    <div class="row">
        <div id="coluna" class="col-12">  
            <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark2 p-4">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                      <a class="nav-link" id="btnListarClientesResponsivo" href="/obter-clientes">Meus CLientes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Pauta de Audiência</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#">Pauta de Perícias</a>
                    </li>
                    <br>
                    <li class="nav-item active">
                      <a class="nav-link" id="btnListarUsuariosResponsivo" href="/obter-usuarios">Usuários</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="btnEditarUsuarioResponsivo">Alterar Senha</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " id="btnSairResponsivo" href="/logout">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
      <nav class="navbar navbar-dark bg-dark2 mynav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
          </span>
        </button>
      </nav>
    </div>
  </div>
</div>
</div>

<div id="container_base" class="container-fluid h-100">
  <div class="row h-100">  
<div id="coluna-esquerda" class="col-md-3 d-none d-md-block">
        
<!--Menu de usuários --> 
<div class="nav_user">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
            <div class="icones-menu">
              <a  class="nav-user-link" id="btnSair" href="/logout"><img id="power-icon" src="/static/recursos/icones/power.svg" alt="Bootstrap" width="22" height="22"></a><br>
              <a  class="nav-user-link" id="btnEditarUsuario"><img id="key-icon" src="/static/recursos/icones/key.svg" alt="Bootstrap" width="22" height="22"></a><br>
              <a  class="nav-user-link" id="btnListarUsuarios" href="/obter-usuarios"><img id="user-icon" src="/static/recursos/icones/person.svg" alt="Bootstrap" width="22" height="22"></a><br>
      </div>
  </div>
 </div>     
</a> 
<nav class="navbar navbar-dark bg-dark">
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
      </button>
  </nav>
</div>

<!--Logo Marca-->   
<div id="logo-legenda" class="container-fluid"> 
  <a href="/index">
  	<img class=" img-fluid rounded mx-auto d-block" id="logo-icon" src="/static/recursos/logo2.svg" alt="Bootstrap" width="200" height="200">
  </a>
</div>           

<div id="separacao" class="container-fluid">
  <div id="restrito"><p>ÁREA RESTRITA</p></div>
</div>

<!--Menu Principal-->
<div id="menu-lateral" class="d-flex flex-column">
  <ul class="nav d-flex flex-column">                    
      <li  class="nav-item1 ">
          <a  class="nav-link active" href="/obter-clientes"><img id="clientes-icon" src="/static/recursos/icones/clientes.svg" alt="Bootstrap" width="32" height="32"> &nbsp; Meus clientes</a>
      </li> 
      <li class="nav-item2">
        <a class="nav-link" href="#"> <img id="audiencia-icon" src="/static/recursos/icones/calendario.svg" alt="Bootstrap" width="32" height="32"> &nbsp;Pauta de audiencias</a>
      </li>
      <li class="nav-item3 ">
          <a class="nav-link" href="#"> <img id="noticias-icon" src="/static/recursos/icones/pericia.svg" alt="Bootstrap" width="32" height="32"> &nbsp;Perícias</a>
      </li>
      <li  id="teste"  class="nav-item4">
        <a class="nav-link" href="#"> <img id="noticias-icon" src="/static/recursos/icones/noticias.svg" alt="Bootstrap" width="32" height="32"> &nbsp;Noticias</a>   
      </li>
    </ul>
  </div>
</div>

<!--COLUNA DIREITA-->
<div id="coluna-direita" class="col-md-9 d-flex col-sm-12">
<div class="container-fluid">

<!--Área do topo da página de clientes-->
	<input type="hidden" id="size" name="size" th:value="${page}"/>
	
	<input type="hidden" id="size" name="size" th:value="${size}"/>

	
	 <div class=" row  mt-5">
	   <div class="col-2 ">
	     <img class="t_itens" id="image_client_top" src="/static/recursos/icones/topo-clientes.svg" alt="Bootstrap" width="92" height="92">
	   </div>
	   <div class="col-5">
	     <h1 class="titulo_clientes ">MEUS CLIENTES</h1>
	   </div>
	   <div class="col-2">
	     <h1 class="titulo_clientes2"><span class="espaco_titulo"></h1>
	   </div>
	   <div class="col-2 ">
	     <a th:id="editarCliente" th:href="@{/obter-cliente-por-id(id=${cliente.id}, page=${page}, size=${size})}"><img id="image_botao_edit" class="t_itens" src="/static/recursos/icones/editar_2.svg" alt="Bootstrap" width="42" height="42"></a>
	   </div>
	 </div>
	
	<form>	
		  <!--Formulario Clientes-->
		  <div class="row  mt-5"> 
		    <div class="container-fluid ">
		    	<input id="id" type="hidden" th:value="${cliente.id}" class="form-control" readonly="readonly">
		    
		        <div class="items"> 
		        	<input th:field="${cliente.nome}" disabled="disabled" type="text" id="cliente-nome" class="form-control formulario cliente" name="" placeholder="Cliente" aria-required="true" aria-invalid="true">
		        </div>
		        
		        <div class="items"> 
		        	<label class="lb-contatos mt-5">CPF</label> 
		        	<input th:field="${cliente.cpf}" disabled="disabled" type="text" id="cliente-cpf" class="form-control formulario cliente" name="" placeholder="CPF" aria-required="true" aria-invalid="true">
		        </div>
		        
		        <div class="items"> 
		        	<label class="lb-contatos mt-5">CNPJ</label> 
	        		<input th:field="${cliente.cnpj}" disabled="disabled" type="text" id="cliente-cnpj"  class="form-control formulario cliente" name="" placeholder="CNPJ" aria-required="true" aria-invalid="true">
	        	</div>
		      </div>
		  </div>
		
		
		   <!--Formulario Contatos-->
		   <label class="lb-contatos mt-5">Contatos</label>
		   <div class="row">
		 
		  <div class="row">
		
		  <div class="col-md-3 t2 ">
		    <input th:field="${cliente.contatos[0].numero}" disabled="disabled" type="text" id="cliente-telefone1" class="form-control formulario teste4 " name="" placeholder="(00) 0000-0000">    
		  </div>
		  
		
		  <div class="col-md-3 t2 ">
		    <input th:field="${cliente.contatos[1].numero}" disabled="disabled" type="text" id="cliente-telefone2" class="form-control formulario teste4 " name="" placeholder="(00) 0000-0000">
		  </div>
		
		 <!--   <div class="col-md-3  caixa-processo2 mb-4 align-self-start ">
		  </div>
		
		  <div class="col-md-3  caixa-processo mb-4  align-self-start">
		  	<div th:each = "processo : ${cliente.processos}" >
		  		<h2 th:text="${processo.nomeDosReus}"></h2>
		    	<p th:text="${processo.numero}" ></p>
		  	</div>
		  </div> -->
		
		 </div>
		
		 <div class="row"> 
		    <div class="col-md-3 teste1">
		      <input th:field="${cliente.contatos[2].numero}" disabled="disabled" type="text" id="cliente-telefone3" class="form-control formulario teste4 " name="" placeholder="(00) 0000-0000" >
		        
		    </div>
		  
		    <div class="col-md-3 teste1 ">
		      <input th:field="${cliente.contatos[3].numero}" disabled="disabled" type="text" id="cliente-telefone4" class="form-control formulario teste4 " name="" placeholder="(00) 0000-0000" >
		        
		    </div>
		    <!--  <div class="col-md-3 add-processo2 mb-4 align-self-start">
		    </div>
		    <div class="col-md-3 add-processo mb-4 align-self-start">
		      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
		        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
		      </svg>&nbsp;Adicionar Processo
		    </div> -->
		
		 </div>
		 
		  <div class="col-md-3  caixa-processo2 mb-4 align-self-start " >
		  </div>
		
		  <div class="col-md-3 align-self-start" style="margin-left:650px;max-height: 265px;overflow: auto;">
		  	<div class="caixa-processo mb-4" th:each = "processo : ${cliente.processos}" >
		  		<a th:href="@{/detalhar-processo-por-id(id=${processo.id}, clienteId=${cliente.id}, page=${page}, size=${size})}" style="color: inherit;text-decoration: none;">
		  			<span>
		  				<h4 th:text="${processo.nomeDosReus}"></h4>
		    			<p th:text="${processo.numero}" ></p>
		  			</span>
		  		</a>

		  	</div>
		  </div> 
		  
	      <div class="col-md-3 add-processo2 mb-4 align-self-start">
	       <!--gambiarra feia da zorra mas depois eu resolvo-->
	      </div>
	      
		  <div class="col-md-3 add-processo mb-4 align-self-start" style="margin-left:650px;">
		      <a th:href="@{/carregar-novo-processo(clienteId=${cliente.id}, page=${page}, size=${size})}" style="color: inherit;text-decoration: none;">
		      	 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
		        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
		      </svg>&nbsp;Adicionar Processo
		      </a>
		  </div> 
		 
		</div> 
	   <div class="row bg-row mt-5"> 
	    <div class="container-fluid box-1">
	        <div class="items"> 
	        	<label class="lb-contatos mt-5">E-MAIL</label>
	        	<input th:field="${cliente.email}" disabled="disabled" type="text" id="cliente-email" class="form-control formulario cliente" name="" placeholder="Email" >
	        </div>
	        <div class="items">
	        	<label class="lb-contatos mt-5">ENDEREÇO</label> 
	        	<input th:field="${cliente.endereco.descricao}" disabled="disabled" type="text" id="cliente-endereco" class="form-control formulario cliente" name="" placeholder="Endereço">
	        </div>
	      </div>
	  </div>
	</form>
</div>

</div>
</div>
</div>


    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script type="text/javascript">
		$(document).ready(function(){
		   
			login = localStorage.getItem("login");
			
			$('#loginDoUsuario').val(login);
			
			$("#btnEditarUsuario").attr("href", "/obter-usuario-por-login?login=" + login);
			
			$("#btnEditarUsuarioResponsivo").attr("href", "/obter-usuario-por-login?login=" + login);
			
			$("#btnListarUsuarios").attr("href", "/obter-usuarios?login=" + login);
			
			$("#btnListarUsuariosResponsivo").attr("href", "/obter-usuarios?login=" + login);
		   
		    console.log('Login apos acesso -> ' + login);
		});	
	</script>
</body>
</html>


<!--<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Detalhar cliente</title>
		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</head>
	
	<body>
		<input type="hidden" id="size" name="size" th:value="${page}"/>
		
		<input type="hidden" id="size" name="size" th:value="${size}"/>
	
		<form>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="id">Id</label>
					<input id="id" placeholder="Id" th:value="${cliente.id}" class="form-control" readonly="readonly">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="nome" class="active">Nome</label>
					<input id="nome" th:field="${cliente.nome}" class="form-control" readonly="readonly">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="cpf" class="active">Cpf</label>
					<input id="cpf" th:field="${cliente.cpf}" class="form-control" readonly="readonly">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="cnpj" class="active">Cnpj</label>
					<input id="cnpj" th:field="${cliente.cnpj}" class="form-control" readonly="readonly">
				</div>
			</div>
			
			<div class="form-row">
				<labeL>Contato</labeL>
				<div  th:each ="contato, itemStat : ${cliente.contatos}"  class="form-group col-md-3">	
						<div class="row">
							<input type="hidden" th:value="${cliente.contatos[__${itemStat.index}__].id}" class="form-control"  readonly="readonly">
						
							<input th:value="${cliente.contatos[__${itemStat.index}__].numero}" class="form-control"  readonly="readonly">
							
							<input th:value="${cliente.contatos[__${itemStat.index}__].tipo}" class="form-control"  readonly="readonly">
						</div>
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="email" class="active">Email</label>
					<input type="email" id="email" th:field="${cliente.email}" class="form-control"  readonly="readonly">
				</div>
			</div>
			
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="endereco" class="active">Endereco</label>
					<textarea rows="3" id="endereco" th:field="${cliente.endereco.descricao}" class="form-control"  readonly="readonly">
					
					</textarea>
				</div>
			</div>
		</form>
		
		<div th:each = "processo : ${cliente.processos}">
			<a th:href="@{/detalhar-processo-por-id(id=${processo.id}, clienteId=${cliente.id}, page=${page}, size=${size})}">
				<span>
					<p th:text="${processo.nomeDosReus}"></p>
					<p th:text="${processo.numero}"></p>
				</span>
			</a>
		</div>
		
		<div class="row">
			<a class="btn btn-primary" id="adicionarProcesso" th:href="@{/carregar-novo-processo(clienteId=${cliente.id}, page=${page}, size=${size})}">Adicionar processo</a>
		</div>
	</body>
</html>    -->