<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Detalhar cliente</title>
		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</head>
	
	<body>
		<input type="hidden" id="size" name="size" th:value="${page}"/>
		
		<input type="hidden" id="size" name="size" th:value="${size}"/>
	
		<form>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="id">Id</label>
					<input id="id" placeholder="Id" th:value="${cliente.id}" class="form-control" readonly="readonly">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="nome" class="active">Nome</label>
					<input id="nome" th:field="${cliente.nome}" class="form-control" readonly="readonly">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="cpf" class="active">Cpf</label>
					<input id="cpf" th:field="${cliente.cpf}" class="form-control" readonly="readonly">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="cnpj" class="active">Cnpj</label>
					<input id="cnpj" th:field="${cliente.cnpj}" class="form-control" readonly="readonly">
				</div>
			</div>
			
			<div class="form-row">
				<labeL>Contato</labeL>
				<div  th:each ="contato, itemStat : ${cliente.contatos}"  class="form-group col-md-3">	
						<div class="row">
							<input type="hidden" th:value="${cliente.contatos[__${itemStat.index}__].id}" class="form-control"  readonly="readonly">
						
							<input th:value="${cliente.contatos[__${itemStat.index}__].numero}" class="form-control"  readonly="readonly">
							
							<input th:value="${cliente.contatos[__${itemStat.index}__].tipo}" class="form-control"  readonly="readonly">
						</div>
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="email" class="active">Email</label>
					<input type="email" id="email" th:field="${cliente.email}" class="form-control"  readonly="readonly">
				</div>
			</div>
			
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="endereco" class="active">Endereco</label>
					<textarea rows="3" id="endereco" th:field="${cliente.endereco.descricao}" class="form-control"  readonly="readonly">
					
					</textarea>
				</div>
			</div>
		</form>
		
		<div th:each = "processo : ${cliente.processos}">
			<a th:href="@{/detalhar-processo-por-id(id=${processo.id}, clienteId=${cliente.id}, page=${page}, size=${size})}">
				<span>
					<p th:text="${processo.nomeDosReus}"></p>
					<p th:text="${processo.numero}"></p>
				</span>
			</a>
		</div>
		
		<div class="row">
			<a class="btn btn-primary" id="adicionarProcesso" th:href="@{/carregar-novo-processo(clienteId=${cliente.id}, page=${page}, size=${size})}">Adicionar processo</a>
		</div>
	</body>
</html>