<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/recursos/css/estilos_base.css">
    <link rel="stylesheet" href="/static/recursos/css/estilos_meus-clientes_adicionar.css">
    <link rel="stylesheet" href="/static/recursos/css/responsividade.css">
    <link rel="stylesheet" href="/static/recursos/css/meus-testes.css">
    
<title>ADV PRO!</title>
</head>
<body>

<!-- Menu responsividade-->
<div class="container-fluid">
    <div class="row">
        <div id="coluna" class="col-12">  
            <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
	            <div class="bg-dark2 p-4">
	                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	                    <li class="nav-item active">
	                      <a class="nav-link" id="btnListarClientesResponsivo" href="/obter-clientes">Meus CLientes</a>
	                    </li>
	                    <li class="nav-item">
	                      <a class="nav-link" href="#">Pauta de Audiência</a>
	                    </li>
	                    <li class="nav-item">
	                      <a class="nav-link " href="#">Pauta de Perícias</a>
	                    </li>
	                    <br>
	                    <li class="nav-item active">
	                      <a class="nav-link" id="btnListarUsuariosResponsivo" href="/obter-usuarios">Usuários</a>
	                    </li>
	                    <li class="nav-item">
	                      <a class="nav-link" id="btnEditarUsuarioResponsivo">Alterar Senha</a>
	                    </li>
	                    <li class="nav-item">
	                      <a class="nav-link " id="btnSairResponsivo" href="/logout">Sair</a>
	                    </li>
	                </ul>
	            </div>
            </div>
      <nav class="navbar navbar-dark bg-dark2 mynav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
          </span>
        </button>
      </nav>
    </div>
  </div>
</div>
</div>

<div id="container_base" class="container-fluid h-100">
  <div class="row h-100">  
    <div id="coluna-esquerda" class="col-md-3 d-none d-md-block">
        
<!--Menu de usuários --> 
<div class="nav_user">
   <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
	      <div class="icones-menu">
	              <a  class="nav-user-link" id="btnSair" href="/logout"><img id="power-icon" src="/static/recursos/icones/power.svg" alt="Bootstrap" width="22" height="22"></a><br>
	              <a  class="nav-user-link" id="btnEditarUsuario"><img id="key-icon" src="/static/recursos/icones/key.svg" alt="Bootstrap" width="22" height="22"></a><br>
	              <a  class="nav-user-link" id="btnListarUsuarios" href="/obter-usuarios"><img id="user-icon" src="/static/recursos/icones/person.svg" alt="Bootstrap" width="22" height="22"></a><br>
	      </div>
      </div>
  </div>      
</a> 

<nav class="navbar navbar-dark bg-dark">
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
      </button>
  </nav>
</div>

<!--Logo Marca-->   
<div id="logo-legenda" class="container-fluid"> 
  <a href="/index">
  	<img class=" img-fluid rounded mx-auto d-block" id="logo-icon" src="/static/recursos/logo2.svg" alt="Bootstrap" width="200" height="200">
  </a>
</div>           
<div id="separacao" class="container-fluid">
  <div id="restrito"><p>ÁREA RESTRITA</p></div>
</div>

<!--Menu Principal-->
<div id="menu-lateral" class="d-flex flex-column">
  <ul class="nav d-flex flex-column">                    
      <li  class="nav-item1 ">
          <a  class="nav-link active" href="/obter-clientes"><img id="clientes-icon" src="/static/recursos/icones/clientes.svg" alt="Bootstrap" width="32" height="32"> &nbsp; Meus clientes</a>
      </li> 
      <li class="nav-item2">
        <a class="nav-link" href="#"> <img id="audiencia-icon" src="/static/recursos/icones/calendario.svg" alt="Bootstrap" width="32" height="32"> &nbsp;Pauta de audiencias</a>
      </li>
      <li class="nav-item3 ">
          <a class="nav-link" href="#"> <img id="noticias-icon" src="/static/recursos/icones/pericia.svg" alt="Bootstrap" width="32" height="32"> &nbsp;Perícias</a>
      </li>
      <li  id="teste"  class="nav-item4">
        <a class="nav-link" href="#"> <img id="noticias-icon" src="/static/recursos/icones/noticias.svg" alt="Bootstrap" width="32" height="32"> &nbsp;Noticias</a>   
      </li>
    </ul>
  </div>
</div>

<!--COLUNA DIREITA-->
<div id="coluna-direita" class="col-md-9 d-flex col-sm-12">
<div class="container-fluid">

<!--Área do topo da página de clientes-->
  <input type="hidden" id="size" name="size" th:value="${page}"/>
	
  <input type="hidden" id="size" name="size" th:value="${size}"/>

   <form action="inserir-cliente" id="adicaoCliente" method="post" th:object="${cliente}">

	  <div class=" row  mt-5">
	    <div class="col-2 ">
	      <img class="t_itens" id="image_client_top" src="/static/recursos/icones/topo-clientes.svg" alt="Bootstrap" width="92" height="92">
	    </div>
	    <div class="col-5">
	      <h1 class="titulo_clientes ">MEUS CLIENTES</h1>
	    </div>
	    <div class="col-2">
	      <h1 class="titulo_clientes2"><span class="espaco_titulo">|</span><b>ADICIONAR</b></h1>
	    </div>
	    <div class="col-2 ">
	      <button type="submit">
	      	<img class="t_itens"  id="image_botao_edit" src="/static/recursos/icones/salvar.svg" alt="Bootstrap" width="42" height="42">
	      </button>
	    </div>    
	  </div>
  
  	  <input type="hidden" id="id" placeholder="Id" th:field="*{id}" class="form-control" readonly="readonly">
  	  
  	  <h5 style="color: red;" th:text="${mensagem}"></h5>
  	  
      <!--Formulario Clientes-->
	  <div class="row  mt-5"> 
	    <div class="container-fluid ">
	        <div class="items"> 
	        	<input id="cliente-nome" th:field="*{nome}" type="text" class="form-control formulario cliente" name="" required="required" placeholder="Cliente" aria-required="true" aria-invalid="true">
	        </div>
	        
	        <div class="items"> 
	        	<input type="text" id="cliente-cpf" th:field="*{cpf}" class="form-control formulario cliente" name="" placeholder="CPF" aria-required="true" aria-invalid="true">
	        </div>
	        
	        <div class="items"> 
	        	<input type="text" id="cliente-cnpj" th:field="*{cnpj}" class="form-control formulario cliente" name="" placeholder="CNPJ" aria-required="true" aria-invalid="true">
	        </div>
	      </div>
	  </div>
	
	
	  <!--Formulario Contatos-->
	  <label class="lb-contatos mt-5">Contatos</label>
	 
	  <div class="row">
		  <div class="col-md-3  mt-4">
		    <input th:field="*{contatos[0].numero}" type="text" id="cliente-telefone1" class="form-control formulario teste4 " name="" placeholder="(00) 0000-0000" >       
		  </div>
		  
		  <div class="col-md-3  mt-4">
		    <select th:field="*{contatos[0].tipo}" id="cliente-descricaotelefone1" class="form-select form-control teste4 " name="" >
		      <option value="">Selecione</option>
		      <option value="Celular">Celular</option>
		      <option value="Residencial">Residencial</option>
		      <option value="Comercial">Comercial</option>
		      </select>
		  </div>
		  
		  <div class="col-md-3  mt-4">
		    <input th:field="*{contatos[1].numero}" type="text" id="cliente-telefone2" class="form-control formulario teste4 " name="" placeholder="(00) 0000-0000" >        
		  </div>
		  
		  <div class="col-md-3  mt-4">
		    <select th:field="*{contatos[1].tipo}" id="cliente-descricaotelefone2" class="form-select form-control teste4 teste2" name="" >
		      <option value="">Selecione</option>
		      <option value="Celular">Celular</option>
		      <option value="Residencial">Residencial</option>
		      <option value="Comercial">Comercial</option>
		      </select>
		  </div>
	 </div>
	
	 <div class="row"> 
	    <div class="col-md-3 mt-4">
	      <input th:field="*{contatos[2].numero}" type="text" id="cliente-telefone3" class="form-control formulario teste4 " name="" placeholder="(00) 0000-0000" >     
	    </div>
	    
	    <div class="col-md-3 mt-4">
	      <select th:field="*{contatos[2].tipo}" id="cliente-descricaotelefone3" class="form-select form-control teste4 teste2" name="" >
	        <option value="">Selecione</option>
	        <option value="Celular">Celular</option>
	        <option value="Residencial">Residencial</option> 
	        <option value="Comercial">Comercial</option>
	        </select>
	    </div>
	    
	    <div class="col-md-3 mt-4">
	      <input th:field="*{contatos[3].numero}" type="text" id="cliente-telefone4" class="form-control formulario teste4 " name="" placeholder="(00) 0000-0000" >    
	    </div>
	    
	    <div class="col-md-3 mt-4">
	      <select th:field="*{contatos[3].tipo}" id="cliente-descricaotelefone4" class="form-select form-control teste4 " name="" >
	        <option value="">Selecione</option>
	        <option value="Celular">Celular</option>
	        <option value="Residencial">Residencial</option>
	        <option value="Comercial">Comercial</option>
	        </select>
	    </div>
	 </div>
	
	
	  <div class="row bg-row mt-5"> 
	    <div class="container-fluid box-1">
	        <div class="items"> 
	        	<label class="lb-contatos mt-5">E-MAIL</label>
	        	<input th:field="*{email}" type="text" id="cliente-email" class="form-control formulario cliente" required="required" name="" placeholder="cliente@email.com">
	        </div>
	        
	        <div class="items"> 
	        	<label class="lb-contatos mt-5">ENDEREÇO</label>
	        	<input th:field="*{endereco.descricao}" type="text" id="cliente-endereco" class="form-control formulario cliente" required="required" name="" placeholder="Endereço Tal, nº 123 - Bairro - Cidade - Estado">
	        </div>
	      </div>
	  </div>
   </form>
  	
  	
  	<!-- <form action="inserir-cliente" id="adicaoCliente" method="post" th:object="${cliente}">
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="nome" class="active">Nome</label>
					<input  class="form-control" required="required">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="cpf" class="active">Cpf</label>
					<input id="cpf"  class="form-control">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="cnpj" class="active">Cnpj</label>
					<input id="cnpj" th:field="*{cnpj}" class="form-control">
				</div>
			</div>
			
			<div class="form-row">
				<labeL>Contato</labeL>
				<div  th:each ="contato, itemStat : *{contatos}"  class="form-group col-md-3">	
						<div class="row">
							<input th:field="*{contatos[__${itemStat.index}__].numero}" class="form-control">
					
							<select th:field="*{contatos[__${itemStat.index}__].tipo}" size="1" class="form-control">
								<option  value="">Selecione</option>
						 		<option  value="Celular">Celular</option>
						 		<option  value="Residencial">Residencial</option>
						 		<option  value="Comercial">Comercial</option>
							</select>
						</div>
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="email" class="active">Email</label>
					<input type="email" id="email" th:field="*{email}" class="form-control" required="required">
				</div>
			</div>
			
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="endereco" class="active">Endereco</label>
					<textarea rows="3" id="endereco" th:field="*{endereco.descricao}" class="form-control" required="required">
					
					</textarea>
				</div>
			</div>
			
			<input type="submit" id="btnFormAdicao" class="btn" style="color:#fff; background-color:#17a2b8; margin-bottom: 10px;" value="Salvar" />
		</form>
		 -->
</div> 
</div>
</div>
</div>


    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  	<script type="text/javascript">
		$(document).ready(function(){
		   
			login = localStorage.getItem("login");
			
			$('#loginDoUsuario').val(login);
			
			$("#btnEditarUsuario").attr("href", "/obter-usuario-por-login?login=" + login);
			
			$("#btnEditarUsuarioResponsivo").attr("href", "/obter-usuario-por-login?login=" + login);
			
			$("#btnListarUsuarios").attr("href", "/obter-usuarios?login=" + login);
			
			$("#btnListarUsuariosResponsivo").attr("href", "/obter-usuarios?login=" + login);
		   
		    console.log('Login apos acesso -> ' + login);
		});	
	</script>
  </body>
</html>