<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Adicionar cliente</title>
		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</head>
	
	<body>
		<input type="hidden" id="size" name="size" th:value="${page}"/>
		
		<input type="hidden" id="size" name="size" th:value="${size}"/>
	
		<form action="inserir-cliente" id="adicaoCliente" method="post" th:object="${cliente}">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="id">Id</label>
					<input id="id" placeholder="Id" th:field="*{id}" class="form-control" readonly="readonly">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="nome" class="active">Nome</label>
					<input id="nome" th:field="*{nome}" class="form-control" required="required">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="cpf" class="active">Cpf</label>
					<input id="cpf" th:field="*{cpf}" class="form-control">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="cnpj" class="active">Cnpj</label>
					<input id="cnpj" th:field="*{cnpj}" class="form-control">
				</div>
			</div>
			
			<div class="form-row">
				<labeL>Contato</labeL>
				<div  th:each ="contato, itemStat : *{contatos}"  class="form-group col-md-3">	
						<div class="row">
							<input th:field="*{contatos[__${itemStat.index}__].numero}" class="form-control">
					
							<select th:field="*{contatos[__${itemStat.index}__].tipo}" size="1" class="form-control">
								<option  value="">Selecione</option>
						 		<option  value="Celular">Celular</option>
						 		<option  value="Residencial">Residencial</option>
						 		<option  value="Comercial">Comercial</option>
							</select>
						</div>
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="email" class="active">Email</label>
					<input type="email" id="email" th:field="*{email}" class="form-control" required="required">
				</div>
			</div>
			
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="endereco" class="active">Endereco</label>
					<textarea rows="3" id="endereco" th:field="*{endereco.descricao}" class="form-control" required="required">
					
					</textarea>
				</div>
			</div>
			
			<input type="submit" id="btnFormAdicao" class="btn" style="color:#fff; background-color:#17a2b8; margin-bottom: 10px;" value="Salvar" />
		</form>
		
		<div class="row">
			<a class="btn btn-primary" id="retornar" th:href="@{/obter-clientes(page=${page}, size=${size})}">Voltar</a>
		</div>
	</body>
</html>