<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/recursos/css/estilos_base.css">
    <link rel="stylesheet" href="/static/recursos/css/estilos_meus-clientes.css">
    <link rel="stylesheet" href="/static/recursos/css/responsividade.css">
  
    
<title>ADV PRO!</title>
</head>
<body>

<input type="hidden" id="page" name="page" th:value="${page}"/>

<input type="hidden" id="page" name="page" th:value="${size}"/>

<!-- Menu responsividade-->
<div class="container-fluid">
    <div class="row">
        <div id="coluna" class="col-12">  
            <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark2 p-4">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Meus CLientes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Pauta de Audiência</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#">Pauta de Perícias</a>
                    </li>
                    <br>
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Usuários</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Alterar Senha</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
      <nav class="navbar navbar-dark bg-dark2 mynav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
          </span>
        </button>
      </nav>
    </div>
  </div>
</div>
</div>

<div id="container_base" class="container-fluid h-100">
  <div class="row h-100">  
    <div id="coluna-esquerda" class="col-md-3 d-none d-md-block">
        
<!--Menu de usuários --> 
<div class="nav_user">
  <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
            <div class="icones-menu">
              <a  class="nav-user-link" href="#"><img id="power-icon" src="/static/recursos/icones/power.svg" alt="Bootstrap" width="22" height="22"></a><br>
              <a  class="nav-user-link" href="#"><img id="key-icon" src="/static/recursos/icones/key.svg" alt="Bootstrap" width="22" height="22"></a><br>
              <a  class="nav-user-link" href="#"><img id="user-icon" src="/static/recursos/icones/person.svg" alt="Bootstrap" width="22" height="22"></a><br>
      </div>
  </div>
</div>     
</a> 
<nav class="navbar navbar-dark bg-dark">
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
      </button>
  </nav>
</div>

<!--Logo Marca-->   
<div id="logo-legenda" class="container-fluid"> 
  <img class=" img-fluid rounded mx-auto d-block" id="logo-icon" src="/static/recursos/logo2.svg" alt="Bootstrap" width="200" height="200">
</div>           
<div id="separacao" class="container-fluid">
  <div id="restrito"><p>ÁREA RESTRITA</p></div>
</div>

<!--Menu Principal-->
<div id="menu-lateral" class="d-flex flex-column">
  <ul class="nav d-flex flex-column">                    
      <li  class="nav-item1 ">
          <a  class="nav-link active" href="#">  <img id="clientes-icon" src="/static/recursos/icones/clientes.svg" alt="Bootstrap" width="32" height="32"> &nbsp; Meus clientes  </a>
      </li> 
      <li class="nav-item2">
        <a class="nav-link" href="#"> <img id="audiencia-icon" src="/static/recursos/icones/calendario.svg" alt="Bootstrap" width="32" height="32"> &nbsp;Pauta de audiencias</a>
      </li>
      <li class="nav-item3 ">
          <a class="nav-link" href="#"> <img id="noticias-icon" src="/static/recursos/icones/pericia.svg" alt="Bootstrap" width="32" height="32"> &nbsp;Perícias</a>
      </li>
      <li  id="teste"  class="nav-item4">
        <a class="nav-link" href="#"> <img id="noticias-icon" src="/static/recursos/icones/noticias.svg" alt="Bootstrap" width="32" height="32"> &nbsp;Noticias</a>   
      </li>
    </ul>
  </div>
</div>

<!--COLUNA DIREITA-->
<div id="coluna-direita" class="col-md-9 d-flex col-sm-12">
<div class="container-fluid">

<!--Área do topo da página de clientes-->
  <div class=" row bg-row mt-5">
    <div class="col-3 bg-col d-flex justify-content-end">
      <img  id="image_client_top" src="/static/recursos/icones/topo-clientes.svg" alt="Bootstrap" width="92" height="92">
    </div>
    <div class="col-5 bg-col">
      <h1 class="titulo_clientes ">MEUS CLIENTES</h1>
    </div>
    <div class="col-4 bg-col d-flex justify-content-end">
      <a id="btnAdicionarCliente" th:href="@{/carregar-novo-cliente(page=${page}, size=${clientesPaginados.size})}"><img id="image_botao_add" src="/static/recursos/icones/botao-adicionar.svg" alt="Bootstrap" width="42" height="42"></a>
    </div>
  </div>

<!--Área de busca de clientes-->
	 <div id="area_busca" class=" row bg-row mt-5 ">
	   <div class="col-12 bg-col">
	     <div class="form-group area-pesquisa">
	       <form class="form-group area-pesquisa" action="obter-clientes-filtrados" id="pesquisaDeClientes" method="post" th:object="${pesquisaDeClientes}">
			<input type="text" id="pesquisaDeClientes" name="pesquisaDeClientes" class="campo-pesquisa" placeholder="Pesquisar" th:field="*{textoDePesquisa}">
		
			<input type="submit" id="pesquisarClientes" class="button_lupa">
		</form>      
	     </div>
	   </div>
	 </div>
  
    <div th:switch="${clientesPaginados.totalElements > 0}" class="table-overflow"> 
    	<div th:case="true">
    		 <div id="row-conteudo" class="row  p-2 " th:each="cliente: ${clientesPaginados.content}">

		          <div class="col-7 ">
		            <div class="nome-cliente" th:text="${cliente.nome}"></div>
		          </div>
		          
		          <div class="col-md-3 col-sm-12 ">
		            <div class="cpf-cliente" th:text="${cliente.cpf} != null ? ${cliente.cpf} : ${cliente.cnpj}"></div>
		          </div>
		        
		          <div class="col-md-2 col-sm-12 d-flex justify-content-end ">
		          
		          <a th:id="${'detalharCliente' + cliente.id}" th:href="@{/detalhar-cliente-por-id(id=${cliente.id}, page=${page}, size=${clientesPaginados.size})}"><img id="image_icon_view" class="config-col-view" src="/static/recursos/icones/ver-icon.svg" alt="Bootstrap" width="22" height="22"></a> 
		          
		          <a th:id="${'editarCliente' + cliente.id}" th:href="@{/obter-cliente-por-id(id=${cliente.id}, page=${page}, size=${clientesPaginados.size})}"><img id="image_icon_edit" class="config-col-view" src="/static/recursos/icones/editar-icon.svg" alt="Bootstrap" width="22" height="22"></a>
		          </div>
			 </div>
    	</div>
    	
    	<div th:case="false">
    		<label> Não foram encontrados resultados.</label>
    	</div>

	 
	
		<!--<div th:switch="${clientesPaginados.totalElements > 0}">
				<div th:case="true"> 
					<table id="tabelaDeClientes" class="display" style="width:100%">				        
				        <tbody>
				        	<tr th:each="cliente: ${clientesPaginados.content}">
							    <td th:text="${cliente.nome}" />
							     <td th:text="${cliente.cpf} != null ? ${cliente.cpf} : ${cliente.cnpj}" />
							     <td><a th:id="${'detalharCliente' + cliente.id}" class="btn btn-outline-info btn-font-responsive" th:href="@{/detalhar-cliente-por-id(id=${cliente.id}, page=${page}, size=${clientesPaginados.size})}">Detalhar</a></td>
							    <td><a th:id="${'editarCliente' + cliente.id}" class="btn btn-outline-info btn-font-responsive" th:href="@{/obter-cliente-por-id(id=${cliente.id}, page=${page}, size=${clientesPaginados.size})}">Editar</a></td>
							</tr>
				        </tbody>
				    </table> 
				    
				    <div>
					  	<th:block th:each="i : ${#numbers.sequence(0, clientesPaginados.totalPages - 1)}">
							<button  th:id="${'pagina' + i}" class="btn btn-primary" th:href="@{/obter-clientes(page=${i}, size=${clientesPaginados.size})}">[[ ${i} + 1 ]]</button>
						</th:block>
					</div>
				</div> 
				
				<div th:case="false">
					<h5 style="text-align:center;">Nenhum cliente foi encontrado</h5>
				</div>
		</div>
		
		<br/>    -->
		


	</div> 
</div>
</div>  
</div>


    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
