<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Alterar senha</title>
		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</head>
	
	<body>
		<h5 style="color: red;" th:text="${mensagem}"></h5>
	
		<form action="alterar-senha" id="edicaoUsuario" method="post" th:object="${usuario}" onsubmit="return validarSenha()">

			<input type="hidden" id="id" placeholder="Id" th:field="*{id}" class="form-control" readonly="readonly">
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="senhaAtual" class="active">Senha atual</label>
					<input type="password" id="senhaAtual" th:field="*{senha}" class="form-control" required="required">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="senhaNova" class="active">Senha nova</label>
					<input type="password" id="senhaNova" th:field="*{novaSenha}" class="form-control" required="required">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="confirmacaoSenhaNova" class="active">Confirmar senha nova</label>
					<input type="password" id="confirmacaoSenhaNova" class="form-control" required="required">
				</div>
			</div>
			
			<input type="submit" id="btnFormEdicao" class="btn" style="color:#fff; background-color:#17a2b8; margin-bottom: 10px;" value="Salvar" />
		</form>
		
		<div class="row">
			<a class="btn btn-primary" id="retornar" href="/index">Voltar</a>
		</div>
		
		<script type="text/javascript">
			function validarSenha() {
				
				console.log($('#senhaNova').val());
				
				console.log($('#confirmacaoSenhaNova').val());
				
				if($('#senhaNova').val() != $('#confirmacaoSenhaNova').val()) {
					alert('As senhas não conferem!');
					
					return false;
				}
				
				return true;
			}
		</script>
	</body>
</html>