<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Detalhar processo</title>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		
	   <!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	    
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->  
	    
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	</head>
	
	<body>
		<input type="hidden" id="clienteId" name="clienteId" th:value="${cliente.id}"/>
		
		<input type="hidden" id="processoId" name="processoId" th:value="${processo.id}"/>
		
		<input type="hidden" id="size" name="size" th:value="${page}"/>
		
		<input type="hidden" id="size" name="size" th:value="${size}"/>
		
		<h5 style="color: red;" th:text="${mensagem}"></h5>
		
		<form>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="id">Id</label>
					<input id="id" placeholder="Id" th:value="${processo.id}" class="form-control" readonly="readonly">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="reus" class="active">Réus</label>
					<input id="reus" th:value="${processo.nomeDosReus}" class="form-control" readonly="readonly">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="numero" class="active">Número</label>
					<input id="numero" th:value="${processo.numero}" class="form-control" readonly="readonly">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="numero" class="active">Situação</label>
					<input id="numero" th:value="${processo.situacao.situacao}" class="form-control" readonly="readonly">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="observacao" class="active">Observação</label>
					<input id="observacao" th:value="${processo.observacao}" class="form-control" readonly="readonly">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label class="active">Cliente</label>
					<input th:each="cliente : ${processo.clientes}" th:value="${cliente.nome}" class="form-control" readonly="readonly">
				</div>
			</div>
		</form>
		
		<a class="btn btn-primary" th:href="@{/editar-processo-por-id(id=${processo.id}, clienteId=${cliente.id}, page=${page}, size=${size})}">Editar processo</a>
		
		<a class="btn btn-primary" th:href="@{/excluir-processo-por-id(id=${processo.id}, clienteId=${cliente.id}, page=${page}, size=${size})}" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir processo</a>
		
		<br />
		<br />
		
		<a class="btn btn-primary" th:href="@{/carregar-nova-audiencia(clienteId=${cliente.id}, processoId=${processo.id}, page=${page}, size=${size})}">Adicionar audiência</a>
		
		<div th:switch="${audiencias != null && audiencias.size > 0}"> 
				<div th:case="true"> 			        
		        	<div th:each="audiencia: ${audiencias}" style="background-color:green;margin-top:10px;margin-left:10px;">
		        	
		        		<input type="hidden" th:id="'audiencia' + ${audiencia.id}" th:value="${audiencia.id}"/>
		        	
		        		<div class="form-row">
		        			<p th:text="${#temporals.format(audiencia.dataDaAudiencia, 'dd-MM-yyyy')}"></p>
		        			&nbsp;&nbsp;&nbsp;
		        			<p th:text="${audiencia.horario}"></p>
		        			&nbsp;&nbsp;&nbsp;
		        			<p th:text="${audiencia.vara + 'ª VT'}"></p>
		        			
		        			<a class="btn btn-primary" th:href="@{/editar-audiencia-por-id(id=${audiencia.id}, clienteId=${cliente.id}, processoId=${processo.id}, page=${page}, size=${size})}">Editar</a>
		        		</div>
					    
					    <div class="form-row">
					    	<p th:text="${'Local:' + audiencia.endereco}"></p>
					    	
					    	<button onclick="formarNotificacaoDaAudiencia(this.id)" th:id="'notificacaoDaAudiencia' + ${audiencia.id}" type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#notificacaoDeAudiencia' + ${audiencia.id}">Avisar cliente por email</button>
					    </div>
					    
					    <div class="form-row">
					    	<p th:text="${'Obs:' + audiencia.observacao}"></p>
					    	
					    	<a class="btn btn-primary" th:href="@{/excluir-audiencia-por-id(id=${audiencia.id}, clienteId=${cliente.id}, processoId=${processo.id}, page=${page}, size=${size})}">Excluir</a>
					    </div>
					   	
					   	<!-- INICIO DO MODAL -->
				    	<div class="modal fade" th:id="'notificacaoDeAudiencia' + ${audiencia.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							     
							        <h5 class="modal-title" id="exampleModalLabel">Aviso de Audiência</h5>
							        
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      
							     <form action="enviar-notificacao-de-audiencia" method="post" th:object="${notificacaoDeAudiencia}">
								      <div class="modal-body">
								    
								      		<input type="hidden" th:id="'clienteId' + ${audiencia.id}" th:field="*{clienteId}"/>
								      		
								      		<input type="hidden" th:id="'audienciaId' + ${audiencia.id}" th:field="*{audienciaId}"/>
								      		
								      		<input type="hidden" th:id="'processoId' + ${audiencia.id}" th:field="*{processoId}"/>
								      	
								      		<div class="form-row">
												<div class="form-group col-md-6">
													<label for="flagInicial" >Inicial</label> 
													<input type="radio" th:id="'flagInicial' + ${audiencia.id}" value="1" th:field="*{flagTipoDeNotificacao}" onclick="desativarFlagDeInstrucao(this.id)">
													
													<label for="flagInstrucao">Instrução/UNA</label>
													<input type="radio" th:id="'flagInstrucao' + ${audiencia.id}" value="2" th:field="*{flagTipoDeNotificacao}" onclick="ativarFlagDeInstrucao(this.id)">	
												</div>
											</div>
											
											<p th:text="'Prezado(a), ' + ${cliente.nome} + ','"></p>
								      	
									      	<p>segue os dados para a sua perícia:</p>
									      	
									      	<p th:text="'Processo:' + ${processo.numero}"></p>
									      	
									      	<p th:text="'Data:' + ${#temporals.format(audiencia.dataDaAudiencia, 'dd-MM-yyyy')}"></p>
									      	
									      	<p th:text="'Horário:' + ${audiencia.horario}"></p>
									      	
									      	<p th:text="'Local:' + ${audiencia.endereco}"></p>
									      	
									      	<div th:id="'observacaoDeTestemunhas' + ${audiencia.id}">
									      		<p>Favor comparecer acompanhado de 3 testemunhas</p>
									      	</div>
									      	
									      	<p>Qualquer dúvida entrar em contato no número: 7199999999</p>
									        	
									      	<p>Atenciosamente,</p>
									      	
									      	<p>Costa Pinto & Martinelli - Advogados Associados.</p>
									      	
									      	<div class="form-row">
									      		<label>Observação</label><br/>
												<textarea rows="5" cols="10" th:id="'observacaoId' + ${audiencia.id}" th:field="*{observacao}"></textarea>
											</div>
											
											<p th:text="'Email cadastrado:' + ${cliente.email}"></p>
									    </div>
									    
									    <div class="modal-footer">
									    	<input type="submit" id="adicaoNotificacaoAudiencia" class="btn" style="color:#fff; background-color:#17a2b8; margin-bottom: 10px;" value="Enviar" />
									    </div>
							      	</form>
							    </div>
							  </div>
						</div> 
						
						<!-- FIM DO MODAL -->
					</div> 
				</div> 
				
				<div th:case="false">
					<h5>Nenhum resultado encontrado</h5>
				</div>
		</div>
		
		<br />
		<br />
		
		<a class="btn btn-primary" th:href="@{/carregar-nova-pericia(clienteId=${cliente.id}, processoId=${processo.id}, page=${page}, size=${size})}">Adicionar perícia</a>
		
		<div th:switch="${pericias != null && pericias.size > 0}"> 
				<div th:case="true"> 			        
		        	<div th:each="pericia: ${pericias}" style="background-color:green;margin-top:10px;margin-left:10px;">
		        	
		        		<input type="hidden" th:id="'pericia' + ${pericia.id}" th:value="${pericia.id}"/>
		        	
		        		<div class="form-row">
		        			<p th:text="${#temporals.format(pericia.dataDaPericia, 'dd-MM-yyyy')}"></p>
		        			&nbsp;&nbsp;&nbsp;
		        			<p th:text="${pericia.horario}"></p>
		        			
		        			<a class="btn btn-primary" th:href="@{/editar-pericia-por-id(id=${pericia.id}, clienteId=${cliente.id}, processoId=${processo.id}, page=${page}, size=${size})}">Editar</a>
		        		</div>
					    
					    <div class="form-row">
					    	<p th:text="${'Médico:' + pericia.nomePerito}"></p>
					    	
					    	<button onclick="formarNotificacaoDaPericia(this.id)" th:id="'notificacaoDaPericia' + ${pericia.id}" type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#notificacaoDePericia' + ${pericia.id}">Avisar cliente por email</button>
					    </div>
					    
					    <div class="form-row">
					    	<p th:text="${'Endereço:' + pericia.endereco}"></p>
					    	
					    	<a class="btn btn-primary" th:href="@{/excluir-pericia-por-id(id=${pericia.id}, clienteId=${cliente.id}, processoId=${processo.id}, page=${page}, size=${size})}">Excluir</a>
					    </div>
					   	
					   	<!-- INICIO DO MODAL -->
					   	 
				    	<div class="modal fade" th:id="'notificacaoDePericia' + ${pericia.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							     
							        <h5 class="modal-title" id="exampleModalLabel">Aviso de Perícia</h5>
							        
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							     <form action="enviar-notificacao-de-pericia" method="post" th:object="${notificacaoDePericia}">
								      <div class="modal-body">
								    
								      		<input type="hidden" th:id="'clienteId' + ${pericia.id}" th:field="*{clienteId}"/>
								      		
								      		<input type="hidden" th:id="'periciaId' + ${pericia.id}" th:field="*{periciaId}"/>
								      		
								      		<input type="hidden" th:id="'processoId' + ${pericia.id}" th:field="*{processoId}"/>
											
											<p th:text="'Prezado(a), ' + ${cliente.nome} + ','"></p>
								      	
									      	<p>segue os dados para a sua perícia:</p>
									      	
									      	<p th:text="'Processo:' + ${processo.numero}"></p>
									      	
									      	<p th:text="'Data:' + ${#temporals.format(pericia.dataDaPericia, 'dd-MM-yyyy')}"></p>
									      	
									      	<p th:text="'Horário:' + ${pericia.horario}"></p>
									      	
									      	<p th:text="'Períto:' + ${pericia.nomePerito}"></p>
									      	
									      	<p th:text="'Endereço:' + ${pericia.endereco}"></p>
									      	
									      	<p th:text="'Qualquer dúvida entrar em contato no número:' + ${pericia.telefone}"></p>
									        	
									      	<p>Atenciosamente,</p>
									      	
									      	<p>Costa Pinto & Martinelli - Advogados Associados.</p>
									      	
									      	<div class="form-row">
									      		<label>Observação</label><br/>
												<textarea rows="5" cols="10" th:id="'observacaoId' + ${pericia.id}" th:field="*{observacao}"></textarea>
											</div>
											
											<p th:text="'Email cadastrado:' + ${cliente.email}"></p>
									    </div>
									    
									    <div class="modal-footer">
									    	<input type="submit" id="adicaoNotificacaoPericia" class="btn" style="color:#fff; background-color:#17a2b8; margin-bottom: 10px;" value="Enviar" />
									    </div>
							      	</form>
							    </div>
							  </div>
						</div>
						
						<!-- FIM DO MODAL -->
					</div>
				</div> 
				
				<div th:case="false">
					<h5>Nenhum resultado encontrado</h5>
				</div>
		</div>
			
		<script type="text/javascript">
		
			function desativarFlagDeInstrucao(id) {
				
				let periciaId = id.substring(11);
				
				document.getElementById("observacaoDeTestemunhas" + periciaId).style.display = "none";
			}
		
			function ativarFlagDeInstrucao(id) {
				
				let periciaId = id.substring(13);
				
				document.getElementById("observacaoDeTestemunhas" + periciaId).style.display = "block";
			}
			
			function formarNotificacaoDaAudiencia(id) {
				
				console.log(id);
				
				let audienciaId = id.substring(22);
				
				console.log(audienciaId);
				
				document.getElementById("observacaoDeTestemunhas" + audienciaId).style.display = "none";
				
				let clienteId = document.getElementById("clienteId").value;
				
				let processoId = document.getElementById("processoId").value;
				
				document.getElementById("flagInicial" + audienciaId).checked = true;
				
				document.getElementById("audienciaId" + audienciaId).value = audienciaId;
				
				document.getElementById("clienteId" + audienciaId).value = clienteId;
				
				document.getElementById("processoId" + audienciaId).value = processoId;
			}
		
			function formarNotificacaoDaPericia(id) {
				
				let periciaId = id.substring(20);
				
				console.log('Id da pericia:' + periciaId);
				
				let clienteId = document.getElementById("clienteId").value;
				
				let processoId = document.getElementById("processoId").value;
				
				console.log('Id do cliente:' + clienteId);
				
				console.log('Id do processo:' + processoId);
				
				console.log(document.getElementById("periciaId" + periciaId));
				
				console.log(document.getElementById("clienteId" + periciaId));
				
				console.log(document.getElementById("processoId" + periciaId));
				
				document.getElementById("periciaId" + periciaId).value = periciaId;
				
				document.getElementById("clienteId" + periciaId).value = clienteId;
				
				document.getElementById("processoId" + periciaId).value = processoId;
				
				/*if(id.includes("flagInicial")) {
								
					periciaId = id.substring(11);
					
					tipoDeNotificacao = document.getElementById("flagInicial" + periciaId).value;
					
					document.getElementById("flagInstrucao" + periciaId).checked = false;
				}
				else if(id.includes("flagInstrucao")) {
					
					periciaId = id.substring(13);
					
					tipoDeNotificacao = document.getElementById("flagInstrucao" + periciaId).value;
					
					document.getElementById("flagInicial" + periciaId).checked = false;
				}*/
				
				//console.log(periciaId);
				
				//console.log(tipoDeNotificacao);
				
				/*let url = "/enviar-email-de-notificacao?clienteId=" + clienteId + "&processoId=" + processoId + "&periciaId=" + periciaId + "&tipoDeNotificacao=" + tipoDeNotificacao;
				
				console.log(url);
				
				document.getElementById("enviarNotificacao" + periciaId).href = url;*/
			}
		</script>
	</body>
</html>