<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/recursos/css/estilos_base.css">
    <link rel="stylesheet" href="/static/recursos/css/estilos_meus-clientes_adicionar.css">
    <link rel="stylesheet" href="/static/recursos/css/estilos_processos.css">
    <link rel="stylesheet" href="/static/recursos/css/responsividade.css">
    <link rel="stylesheet" href="/static/recursos/css/meus-testes.css">
    
<title>ADV PRO!</title>

</head>
<body>

<input type="hidden" id="clienteId" name="clienteId" th:value="${cliente.id}"/>

<input type="hidden" id="processoId" name="processoId" th:value="${processo.id}"/>

<input type="hidden" id="size" name="size" th:value="${page}"/>

<input type="hidden" id="size" name="size" th:value="${size}"/>

<!-- Menu responsividade-->
<div class="container-fluid">
    <div class="row">
        <div id="coluna" class="col-12">  
            <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
	            <div class="bg-dark2 p-4">
	                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	                    <li class="nav-item active">
	                      <a class="nav-link" id="btnListarClientesResponsivo" href="/obter-clientes">Meus CLientes</a>
	                    </li>
	                    <li class="nav-item">
	                      <a class="nav-link" href="#">Pauta de Audiência</a>
	                    </li>
	                    <li class="nav-item">
	                      <a class="nav-link " href="#">Pauta de Perícias</a>
	                    </li>
	                    <br>
	                    <li class="nav-item active">
	                      <a class="nav-link" id="btnListarUsuariosResponsivo" href="/obter-usuarios">Usuários</a>
	                    </li>
	                    <li class="nav-item">
	                      <a class="nav-link" id="btnEditarUsuarioResponsivo">Alterar Senha</a>
	                    </li>
	                    <li class="nav-item">
	                      <a class="nav-link " id="btnSairResponsivo" href="/logout">Sair</a>
	                    </li>
	                </ul>
	            </div>
            </div>
      <nav class="navbar navbar-dark bg-dark2 mynav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
          </span>
        </button>
      </nav>
    </div>
  </div>
</div>
</div>

<div id="container_base" class="container-fluid h-100">
  <div class="row h-100">  
    <div id="coluna-esquerda" class="col-md-3 d-none d-md-block">
        
<!--Menu de usuários --> 
<div class="nav_user">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
            <div class="icones-menu">
              <a  class="nav-user-link" id="btnSair" href="/logout"><img id="power-icon" src="/static/recursos/icones/power.svg" alt="Bootstrap" width="22" height="22"></a><br>
              <a  class="nav-user-link" id="btnEditarUsuario"><img id="key-icon" src="/static/recursos/icones/key.svg" alt="Bootstrap" width="22" height="22"></a><br>
              <a  class="nav-user-link" id="btnListarUsuarios" href="/obter-usuarios"><img id="user-icon" src="/static/recursos/icones/person.svg" alt="Bootstrap" width="22" height="22"></a><br>
      </div>
  </div>
 </div>     
</a> 
<nav class="navbar navbar-dark bg-dark">
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
      </button>
  </nav>
</div>

<!--Logo Marca-->   
<div id="logo-legenda" class="container-fluid"> 
    <a href="/index">
	  	<img class=" img-fluid rounded mx-auto d-block" id="logo-icon" src="/static/recursos/logo2.svg" alt="Bootstrap" width="200" height="200">
	</a>
</div>           
<div id="separacao" class="container-fluid">
  <div id="restrito"><p>ÁREA RESTRITA</p></div>
</div>

<!--Menu Principal-->
<div id="menu-lateral" class="d-flex flex-column">
  <ul class="nav d-flex flex-column">                    
      <li  class="nav-item1 ">
          <a  class="nav-link active" href="#">  <img id="clientes-icon" src="/static/recursos/icones/clientes.svg" alt="Bootstrap" width="32" height="32"> &nbsp; Meus clientes  </a>
      </li> 
      <li class="nav-item2">
        <a class="nav-link" href="#"> <img id="audiencia-icon" src="/static/recursos/icones/calendario.svg" alt="Bootstrap" width="32" height="32"> &nbsp;Pauta de audiencias</a>
      </li>
      <li class="nav-item3 ">
          <a class="nav-link" href="#"> <img id="noticias-icon" src="/static/recursos/icones/pericia.svg" alt="Bootstrap" width="32" height="32"> &nbsp;Perícias</a>
      </li>
      <li  id="teste"  class="nav-item4">
        <a class="nav-link" href="#"> <img id="noticias-icon" src="/static/recursos/icones/noticias.svg" alt="Bootstrap" width="32" height="32"> &nbsp;Noticias</a>   
      </li>
    </ul>
  </div>
</div>

<!--COLUNA DIREITA-->
<div id="coluna-direita" class="col-md-9 d-flex col-sm-12">
<div class="container-fluid">

<!--Área do topo da página de clientes-->
  <div class=" row  mt-5">
    <div class="col-2">
      <img class="t_itens" id="image_client_top" src="/static/recursos/icones/processos.svg" alt="Bootstrap" width="92" height="92">
    </div>
    <div class="col-5">
      <h1 class="titulo_clientes "><b>Processos</b></h1>
    </div>
   
  </div>

<div class="row">
  <form>
  	  <input type="hidden" id="id" th:value="${processo.id}" class="form-control" readonly="readonly">
  
  	  <div class="col-md-11 col-xs-10 bloco-processos mt-4">
    	<div class="col-md-12 visu-dados reu">
    		<p th:text="${processo.nomeDosReus}"></p>
    	</div>

        <div class="col-md-6 visu-dados num-processo">
        	<p th:text="${processo.numero}"></p>              
        </div>

        <div class=" col-md-5 col-md-offset-1 visu-dados status">
            <p th:text="${processo.situacao.situacao}"></p>                
        </div>

        <div class="visu-dados">
        	<p th:text="${processo.observacao}"></p> 
        </div>                   
  	 </div>
  	 
  
		
  	 
  	 <div class="col-md-1 col-xs-2 col-lg-1 bloco-botao mt-4">
        <a th:href="@{/editar-processo-por-id(id=${processo.id}, clienteId=${cliente.id}, page=${page}, size=${size})}"><img id="image_icon_view" class="config-col-view" src="/static/recursos/icones/editar-icon.svg" alt="Bootstrap" width="22" height="22"></a>
		
		<a th:href="@{/excluir-processo-por-id(id=${processo.id}, clienteId=${cliente.id}, page=${page}, size=${size})}" onclick="return confirm('Tem certeza que deseja excluir?')"><img id="image_icon_view" class="incon-del" src="/static/recursos/icones/excluir.svg" alt="Bootstrap" width="22" height="22"></a>  
	</div>
  

		<!-- voltar para o cliente -->
		<label class="cliente-label">Cliente</label>
        <div class="visu-dados">
          <a th:each="cliente : ${processo.clientes}" th:href="@{/detalhar-cliente-por-id(id=${cliente.id}, page=${page}, size=${size})}"><p th:text="${cliente.nome}" class="visu-cliente mt-2"></p></a>
        </div>
</form>
       
        

<!-- menu adicionar audiencia -->
	<ul class="nav nav-tabs">
		<li class="nav-item"><a class="nav-link active"
			href="page_clientes_processos_audiencia_com_resultado.html">Audiência</a>
		</li>
		<li class="nav-item"><a class="nav-link "
			href="page_clientes_processos_pericia_com_resultado.html">Perícia</a>
		</li>
	</ul>
 <div class="row d-flex bt-add-novo-processo">
   <div class="col-6 d-flex justify-content-end">
   	<a th:href="@{/carregar-nova-audiencia(clienteId=${cliente.id}, processoId=${processo.id}, page=${page}, size=${size})}"><img data-bs-toggle="modal" data-bs-target="#modal_add_audiencia"  id="" class="" src="/static/recursos/icones/botao-adicionar.svg" alt="Bootstrap" width="22" height="22"></a>
   </div>
    
   <div class=" col-6 ">
  	Adicionar Audiência
   </div>
  	  
  	  <div th:switch="${audiencias != null && audiencias.size > 0}">
	      <div th:case="true" >
	      	<div th:each="audiencia: ${audiencias}" class="card-evento">
	      		<div  class="row">
		          
		          <div class=" col-md-3 visu-data-pericia">
		            Data <p th:text="${#temporals.format(audiencia.dataDaAudiencia, 'dd-MM-yyyy')}"></p>
		          </div>
		          <div class="col-md-3 visu-hora-pericia">
		            Hora <p th:text="${audiencia.horario}"></p>
		          </div>
		          <div class="col-md-4 visu-vara-pericia">
		            Vara <p th:text="${audiencia.vara + 'ª'}"></p>
		          </div>
		          
		          
		          <div class="col-md-2">
		           <a th:href="@{/editar-audiencia-por-id(id=${audiencia.id}, clienteId=${cliente.id}, processoId=${processo.id}, page=${page}, size=${size})}" data-bs-target="#editar_audiencia"> <img  id="" class="" src="/static/recursos/icones/editar_2.svg" alt="Bootstrap" width="22" height="22"></a>
		           
		           <a onclick="formarNotificacaoDaAudiencia(this.id)" th:id="'notificacaoDaAudiencia' + ${audiencia.id}" data-toggle="modal" th:attr="data-target='#notificacaoDeAudiencia' + ${audiencia.id}">
			           	  <svg data-bs-toggle="modal" data-bs-target="#email_audiencia" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#5db263" class="bi bi-envelope-fill" viewBox="0 0 16 16">
			              <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
			            </svg>
		            </a>
		     
		            <a th:href="@{/excluir-audiencia-por-id(id=${audiencia.id}, clienteId=${cliente.id}, processoId=${processo.id}, page=${page}, size=${size})}" onclick="return confirm('Voce realmente deseja excluir esta audiência ?');">
			            <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#5db263" class="bi bi-trash" viewBox="0 0 16 16">
			              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
			              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
			            </svg>
		            </a>
		          </div>
		          <div class="row">
		            <div class="col-md-12 mt-2 visu-local-pericia">
		              <label>Local:</label> <span th:text="${audiencia.endereco}"></span><br>
		              <span id="obs_pericia" th:text="${'Obs:' + audiencia.observacao}"></span>
		            </div>
		          </div>
		        </div>
		        
       	    	<div class="modal fade" th:id="'notificacaoDeAudiencia' + ${audiencia.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				     
				        <h5 class="modal-title" id="exampleModalLabel">Aviso de Audiência</h5>
				        
				        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
				      </div>
				      
				     <form action="enviar-notificacao-de-audiencia" method="post" th:object="${notificacaoDeAudiencia}">
					      <div class="modal-body">
					    
					      		<input type="hidden" th:id="'clienteId' + ${audiencia.id}" th:field="*{clienteId}"/>
					      		
					      		<input type="hidden" th:id="'audienciaId' + ${audiencia.id}" th:field="*{audienciaId}"/>
					      		
					      		<input type="hidden" th:id="'processoId' + ${audiencia.id}" th:field="*{processoId}"/>
					      	
					      		<div class="form-row">
									<div class="form-group col-md-6">
										<label for="flagInicial" >Inicial</label> 
										<input type="radio" th:id="'flagInicial' + ${audiencia.id}" value="1" th:field="*{flagTipoDeNotificacao}" onclick="desativarFlagDeInstrucao(this.id)">
										
										<label for="flagInstrucao">Instrução/UNA</label>
										<input type="radio" th:id="'flagInstrucao' + ${audiencia.id}" value="2" th:field="*{flagTipoDeNotificacao}" onclick="ativarFlagDeInstrucao(this.id)">	
									</div>
								</div>
								
								<p th:text="'Prezado(a), ' + ${cliente.nome} + ','"></p>
					      	
						      	<p>segue os dados para a sua perícia:</p>
						      	
						      	<p th:text="'Processo:' + ${processo.numero}"></p>
						      	
						      	<p th:text="'Data:' + ${#temporals.format(audiencia.dataDaAudiencia, 'dd-MM-yyyy')}"></p>
						      	
						      	<p th:text="'Horário:' + ${audiencia.horario}"></p>
						      	
						      	<p th:text="'Local:' + ${audiencia.endereco}"></p>
						      	
						      	<div th:id="'observacaoDeTestemunhas' + ${audiencia.id}">
						      		<p>Favor comparecer acompanhado de 3 testemunhas</p>
						      	</div>
						      	
						      	<p>Qualquer dúvida entrar em contato no número: 7199999999</p>
						        	
						      	<p>Atenciosamente,</p>
						      	
						      	<p>Costa Pinto & Martinelli - Advogados Associados.</p>
								
								<div class="mb-3">
						            <label for="message-text" class="col-form-label">Observação</label>
						            <input  type="text" class="form-control" th:id="'observacaoId' + ${audiencia.id}" th:field="*{observacao}">
						        </div>
								
								<p th:text="'Email cadastrado:' + ${cliente.email}"></p>
						    </div>
						    
						    <div class="modal-footer">
						    	<input type="submit" id="adicaoNotificacaoAudiencia" class="btn" style="color:#fff; background-color:#17a2b8; margin-bottom: 10px;" value="Enviar" />
						    </div>
				      	</form>
				    </div>
				  </div>
				</div>
	      	</div>
	      </div>
	      
	      <div th:case="false">
			<span  id="nao_encontrado_audiencia">Nenhum resultado encontrado!</span>
		  </div>
      </div>
  </div>


</div>
</div>
</div>
</div>

    <!-- JavaScript (Opcional) -->
    <script>
    
      function desabilitar1(valor) {
      	  var status = document.getElementById('number_processo').disabled;
	
	      if (valor == 'sim' && !status) {
		      document.getElementById('number_processo').disabled = true;
		      document.getElementById('testemunha').disabled = true;
	      } else {
		      document.getElementById('number_processo').disabled = false;
		      document.getElementById('testemunha').disabled = false;
	      }
      }

      function desabilitar(selecionado) {
        if(selecionado == true){
          document.getElementById('numero').disabled = false;
        }else{
          document.getElementById('numero').disabled = true; 
          
        }
      }
   </script>

    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   
    <script>
		$(document).ready(function(){
			   
			login = localStorage.getItem("login");
			
			$('#loginDoUsuario').val(login);
			
			$("#btnEditarUsuario").attr("href", "/obter-usuario-por-login?login=" + login);
			
			$("#btnEditarUsuarioResponsivo").attr("href", "/obter-usuario-por-login?login=" + login);
			
			$("#btnListarUsuarios").attr("href", "/obter-usuarios?login=" + login);
			
			$("#btnListarUsuariosResponsivo").attr("href", "/obter-usuarios?login=" + login);
		   
		    console.log('Login apos acesso -> ' + login);
		});	
		
	    function desativarFlagDeInstrucao(id) {
			
			let periciaId = id.substring(11);
			
			document.getElementById("observacaoDeTestemunhas" + periciaId).style.display = "none";
		}
	
		function ativarFlagDeInstrucao(id) {
			
			let periciaId = id.substring(13);
			
			document.getElementById("observacaoDeTestemunhas" + periciaId).style.display = "block";
		}
		
		function formarNotificacaoDaAudiencia(id) {
			
			console.log(id);
			
			let audienciaId = id.substring(22);
			
			console.log(audienciaId);
			
			document.getElementById("observacaoDeTestemunhas" + audienciaId).style.display = "none";
			
			console.log(document.getElementById("clienteId").value);
			
			console.log(document.getElementById("processoId").value);
			
			let clienteId = document.getElementById("clienteId").value;
			
			let processoId = document.getElementById("processoId").value;
			
			
			document.getElementById("flagInicial" + audienciaId).checked = true;
			
			document.getElementById("audienciaId" + audienciaId).value = audienciaId;
			
			document.getElementById("clienteId" + audienciaId).value = clienteId;
			
			document.getElementById("processoId" + audienciaId).value = processoId;
		}
	
		function formarNotificacaoDaPericia(id) {
			
			let periciaId = id.substring(20);
			
			console.log('Id da pericia:' + periciaId);
			
			let clienteId = document.getElementById("clienteId").value;
			
			let processoId = document.getElementById("processoId").value;
			
			console.log('Id do cliente:' + clienteId);
			
			console.log('Id do processo:' + processoId);
			
			console.log(document.getElementById("periciaId" + periciaId));
			
			console.log(document.getElementById("clienteId" + periciaId));
			
			console.log(document.getElementById("processoId" + periciaId));
			
			document.getElementById("periciaId" + periciaId).value = periciaId;
			
			document.getElementById("clienteId" + periciaId).value = clienteId;
			
			document.getElementById("processoId" + periciaId).value = processoId;
			
			//if(id.includes("flagInicial")) {
							
			//	periciaId = id.substring(11);
				
			//	tipoDeNotificacao = document.getElementById("flagInicial" + periciaId).value;
			//	
			//	document.getElementById("flagInstrucao" + periciaId).checked = false;
			//}
			//else if(id.includes("flagInstrucao")) {
				
			//	periciaId = id.substring(13);
				
			//	tipoDeNotificacao = document.getElementById("flagInstrucao" + periciaId).value;
				
			//	document.getElementById("flagInicial" + periciaId).checked = false;
			//}
			
			//console.log(periciaId);
			
			//console.log(tipoDeNotificacao);
			
			//let url = "/enviar-email-de-notificacao?clienteId=" + clienteId + "&processoId=" + processoId + "&periciaId=" + periciaId + "&tipoDeNotificacao=" + tipoDeNotificacao;
			
			//console.log(url);
			
			//document.getElementById("enviarNotificacao" + periciaId).href = url;
		}
   </script>
  </body>
</html>


<!-- <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Detalhar processo</title>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		
	    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	    
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
	    
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	</head>
	
	<body>
		<input type="hidden" id="clienteId" name="clienteId" th:value="${cliente.id}"/>
		
		<input type="hidden" id="processoId" name="processoId" th:value="${processo.id}"/>
		
		<input type="hidden" id="size" name="size" th:value="${page}"/>
		
		<input type="hidden" id="size" name="size" th:value="${size}"/>
		
		<h5 style="color: red;" th:text="${mensagem}"></h5>
		
		<form>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="id">Id</label>
					<input id="id" placeholder="Id" th:value="${processo.id}" class="form-control" readonly="readonly">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="reus" class="active">Réus</label>
					<input id="reus" th:value="${processo.nomeDosReus}" class="form-control" readonly="readonly">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="numero" class="active">Número</label>
					<input id="numero" th:value="${processo.numero}" class="form-control" readonly="readonly">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="numero" class="active">Situação</label>
					<input id="numero" th:value="${processo.situacao.situacao}" class="form-control" readonly="readonly">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="observacao" class="active">Observação</label>
					<input id="observacao" th:value="${processo.observacao}" class="form-control" readonly="readonly">
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label class="active">Cliente</label>
					<input th:each="cliente : ${processo.clientes}" th:value="${cliente.nome}" class="form-control" readonly="readonly">
				</div>
			</div>
		</form>
		
		<a class="btn btn-primary" th:href="@{/editar-processo-por-id(id=${processo.id}, clienteId=${cliente.id}, page=${page}, size=${size})}">Editar processo</a>
		
		<a class="btn btn-primary" th:href="@{/excluir-processo-por-id(id=${processo.id}, clienteId=${cliente.id}, page=${page}, size=${size})}" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir processo</a>
		
		<br />
		<br />
		
		<a class="btn btn-primary" th:href="@{/carregar-nova-audiencia(clienteId=${cliente.id}, processoId=${processo.id}, page=${page}, size=${size})}">Adicionar audiência</a>
		
		<div th:switch="${audiencias != null && audiencias.size > 0}"> 
				<div th:case="true"> 			        
		        	<div th:each="audiencia: ${audiencias}" style="background-color:green;margin-top:10px;margin-left:10px;">
		        	
		        		<input type="hidden" th:id="'audiencia' + ${audiencia.id}" th:value="${audiencia.id}"/>
		        	
		        		<div class="form-row">
		        			<p th:text="${#temporals.format(audiencia.dataDaAudiencia, 'dd-MM-yyyy')}"></p>
		        			&nbsp;&nbsp;&nbsp;
		        			<p th:text="${audiencia.horario}"></p>
		        			&nbsp;&nbsp;&nbsp;
		        			<p th:text="${audiencia.vara + 'ª VT'}"></p>
		        			
		        			<a class="btn btn-primary" th:href="@{/editar-audiencia-por-id(id=${audiencia.id}, clienteId=${cliente.id}, processoId=${processo.id}, page=${page}, size=${size})}">Editar</a>
		        		</div>
					    
					    <div class="form-row">
					    	<p th:text="${'Local:' + audiencia.endereco}"></p>
					    	
					    	<button onclick="formarNotificacaoDaAudiencia(this.id)" th:id="'notificacaoDaAudiencia' + ${audiencia.id}" type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#notificacaoDeAudiencia' + ${audiencia.id}">Avisar cliente por email</button>
					    </div>
					    
					    <div class="form-row">
					    	<p th:text="${'Obs:' + audiencia.observacao}"></p>
					    	
					    	<a class="btn btn-primary" th:href="@{/excluir-audiencia-por-id(id=${audiencia.id}, clienteId=${cliente.id}, processoId=${processo.id}, page=${page}, size=${size})}">Excluir</a>
					    </div> -->
					   	
					   	<!-- INICIO DO MODAL -->
				    	<!--  <div class="modal fade" th:id="'notificacaoDeAudiencia' + ${audiencia.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							     
							        <h5 class="modal-title" id="exampleModalLabel">Aviso de Audiência</h5>
							        
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      
							     <form action="enviar-notificacao-de-audiencia" method="post" th:object="${notificacaoDeAudiencia}">
								      <div class="modal-body">
								    
								      		<input type="hidden" th:id="'clienteId' + ${audiencia.id}" th:field="*{clienteId}"/>
								      		
								      		<input type="hidden" th:id="'audienciaId' + ${audiencia.id}" th:field="*{audienciaId}"/>
								      		
								      		<input type="hidden" th:id="'processoId' + ${audiencia.id}" th:field="*{processoId}"/>
								      	
								      		<div class="form-row">
												<div class="form-group col-md-6">
													<label for="flagInicial" >Inicial</label> 
													<input type="radio" th:id="'flagInicial' + ${audiencia.id}" value="1" th:field="*{flagTipoDeNotificacao}" onclick="desativarFlagDeInstrucao(this.id)">
													
													<label for="flagInstrucao">Instrução/UNA</label>
													<input type="radio" th:id="'flagInstrucao' + ${audiencia.id}" value="2" th:field="*{flagTipoDeNotificacao}" onclick="ativarFlagDeInstrucao(this.id)">	
												</div>
											</div>
											
											<p th:text="'Prezado(a), ' + ${cliente.nome} + ','"></p>
								      	
									      	<p>segue os dados para a sua perícia:</p>
									      	
									      	<p th:text="'Processo:' + ${processo.numero}"></p>
									      	
									      	<p th:text="'Data:' + ${#temporals.format(audiencia.dataDaAudiencia, 'dd-MM-yyyy')}"></p>
									      	
									      	<p th:text="'Horário:' + ${audiencia.horario}"></p>
									      	
									      	<p th:text="'Local:' + ${audiencia.endereco}"></p>
									      	
									      	<div th:id="'observacaoDeTestemunhas' + ${audiencia.id}">
									      		<p>Favor comparecer acompanhado de 3 testemunhas</p>
									      	</div>
									      	
									      	<p>Qualquer dúvida entrar em contato no número: 7199999999</p>
									        	
									      	<p>Atenciosamente,</p>
									      	
									      	<p>Costa Pinto & Martinelli - Advogados Associados.</p>
									      	
									      	<div class="form-row">
									      		<label>Observação</label><br/>
												<textarea rows="5" cols="10" th:id="'observacaoId' + ${audiencia.id}" th:field="*{observacao}"></textarea>
											</div>
											
											<p th:text="'Email cadastrado:' + ${cliente.email}"></p>
									    </div>
									    
									    <div class="modal-footer">
									    	<input type="submit" id="adicaoNotificacaoAudiencia" class="btn" style="color:#fff; background-color:#17a2b8; margin-bottom: 10px;" value="Enviar" />
									    </div>
							      	</form>
							    </div>
							  </div>
						</div> -->
						
						<!-- FIM DO MODAL -->
				<!-- </div> 
				</div> 
				
				<div th:case="false">
					<h5>Nenhum resultado encontrado</h5>
				</div>
		</div>
		
		<br />
		<br />
		
		<a class="btn btn-primary" th:href="@{/carregar-nova-pericia(clienteId=${cliente.id}, processoId=${processo.id}, page=${page}, size=${size})}">Adicionar perícia</a>
		
		<div th:switch="${pericias != null && pericias.size > 0}"> 
				<div th:case="true"> 			        
		        	<div th:each="pericia: ${pericias}" style="background-color:green;margin-top:10px;margin-left:10px;">
		        	
		        		<input type="hidden" th:id="'pericia' + ${pericia.id}" th:value="${pericia.id}"/>
		        	
		        		<div class="form-row">
		        			<p th:text="${#temporals.format(pericia.dataDaPericia, 'dd-MM-yyyy')}"></p>
		        			&nbsp;&nbsp;&nbsp;
		        			<p th:text="${pericia.horario}"></p>
		        			
		        			<a class="btn btn-primary" th:href="@{/editar-pericia-por-id(id=${pericia.id}, clienteId=${cliente.id}, processoId=${processo.id}, page=${page}, size=${size})}">Editar</a>
		        		</div>
					    
					    <div class="form-row">
					    	<p th:text="${'Médico:' + pericia.nomePerito}"></p>
					    	
					    	<button onclick="formarNotificacaoDaPericia(this.id)" th:id="'notificacaoDaPericia' + ${pericia.id}" type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#notificacaoDePericia' + ${pericia.id}">Avisar cliente por email</button>
					    </div>
					    
					    <div class="form-row">
					    	<p th:text="${'Endereço:' + pericia.endereco}"></p>
					    	
					    	<a class="btn btn-primary" th:href="@{/excluir-pericia-por-id(id=${pericia.id}, clienteId=${cliente.id}, processoId=${processo.id}, page=${page}, size=${size})}">Excluir</a>
					    </div>  -->
					   	
					   	<!-- INICIO DO MODAL -->
					   	 
				    	<!--<div class="modal fade" th:id="'notificacaoDePericia' + ${pericia.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							     
							        <h5 class="modal-title" id="exampleModalLabel">Aviso de Perícia</h5>
							        
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							     <form action="enviar-notificacao-de-pericia" method="post" th:object="${notificacaoDePericia}">
								      <div class="modal-body">
								    
								      		<input type="hidden" th:id="'clienteId' + ${pericia.id}" th:field="*{clienteId}"/>
								      		
								      		<input type="hidden" th:id="'periciaId' + ${pericia.id}" th:field="*{periciaId}"/>
								      		
								      		<input type="hidden" th:id="'processoId' + ${pericia.id}" th:field="*{processoId}"/>
											
											<p th:text="'Prezado(a), ' + ${cliente.nome} + ','"></p>
								      	
									      	<p>segue os dados para a sua perícia:</p>
									      	
									      	<p th:text="'Processo:' + ${processo.numero}"></p>
									      	
									      	<p th:text="'Data:' + ${#temporals.format(pericia.dataDaPericia, 'dd-MM-yyyy')}"></p>
									      	
									      	<p th:text="'Horário:' + ${pericia.horario}"></p>
									      	
									      	<p th:text="'Períto:' + ${pericia.nomePerito}"></p>
									      	
									      	<p th:text="'Endereço:' + ${pericia.endereco}"></p>
									      	
									      	<p th:text="'Qualquer dúvida entrar em contato no número:' + ${pericia.telefone}"></p>
									        	
									      	<p>Atenciosamente,</p>
									      	
									      	<p>Costa Pinto & Martinelli - Advogados Associados.</p>
									      	
									      	<div class="form-row">
									      		<label>Observação</label><br/>
												<textarea rows="5" cols="10" th:id="'observacaoId' + ${pericia.id}" th:field="*{observacao}"></textarea>
											</div>
											
											<p th:text="'Email cadastrado:' + ${cliente.email}"></p>
									    </div>
									    
									    <div class="modal-footer">
									    	<input type="submit" id="adicaoNotificacaoPericia" class="btn" style="color:#fff; background-color:#17a2b8; margin-bottom: 10px;" value="Enviar" />
									    </div>
							      	</form>
							    </div>
							  </div>
						</div>   -->
						
						<!-- FIM DO MODAL -->
				<!-- </div>
				</div> 
				
				<div th:case="false">
					<h5>Nenhum resultado encontrado</h5>
				</div>
		</div>
			
		<script type="text/javascript">
		
			function desativarFlagDeInstrucao(id) {
				
				let periciaId = id.substring(11);
				
				document.getElementById("observacaoDeTestemunhas" + periciaId).style.display = "none";
			}
		
			function ativarFlagDeInstrucao(id) {
				
				let periciaId = id.substring(13);
				
				document.getElementById("observacaoDeTestemunhas" + periciaId).style.display = "block";
			}
			
			function formarNotificacaoDaAudiencia(id) {
				
				console.log(id);
				
				let audienciaId = id.substring(22);
				
				console.log(audienciaId);
				
				document.getElementById("observacaoDeTestemunhas" + audienciaId).style.display = "none";
				
				let clienteId = document.getElementById("clienteId").value;
				
				let processoId = document.getElementById("processoId").value;
				
				document.getElementById("flagInicial" + audienciaId).checked = true;
				
				document.getElementById("audienciaId" + audienciaId).value = audienciaId;
				
				document.getElementById("clienteId" + audienciaId).value = clienteId;
				
				document.getElementById("processoId" + audienciaId).value = processoId;
			}
		
			function formarNotificacaoDaPericia(id) {
				
				let periciaId = id.substring(20);
				
				console.log('Id da pericia:' + periciaId);
				
				let clienteId = document.getElementById("clienteId").value;
				
				let processoId = document.getElementById("processoId").value;
				
				console.log('Id do cliente:' + clienteId);
				
				console.log('Id do processo:' + processoId);
				
				console.log(document.getElementById("periciaId" + periciaId));
				
				console.log(document.getElementById("clienteId" + periciaId));
				
				console.log(document.getElementById("processoId" + periciaId));
				
				document.getElementById("periciaId" + periciaId).value = periciaId;
				
				document.getElementById("clienteId" + periciaId).value = clienteId;
				
				document.getElementById("processoId" + periciaId).value = processoId;
				
				//if(id.includes("flagInicial")) {
								
				//	periciaId = id.substring(11);
					
				//	tipoDeNotificacao = document.getElementById("flagInicial" + periciaId).value;
				//	
				//	document.getElementById("flagInstrucao" + periciaId).checked = false;
				//}
				//else if(id.includes("flagInstrucao")) {
					
				//	periciaId = id.substring(13);
					
				//	tipoDeNotificacao = document.getElementById("flagInstrucao" + periciaId).value;
					
				//	document.getElementById("flagInicial" + periciaId).checked = false;
				//}
				
				//console.log(periciaId);
				
				//console.log(tipoDeNotificacao);
				
				//let url = "/enviar-email-de-notificacao?clienteId=" + clienteId + "&processoId=" + processoId + "&periciaId=" + periciaId + "&tipoDeNotificacao=" + tipoDeNotificacao;
				
				//console.log(url);
				
				//document.getElementById("enviarNotificacao" + periciaId).href = url;
			}
		</script>
	</body>
</html> -->